@import "variables";
@import "fonts";
@import "icons";
@import "../../node_modules/bootstrap/scss/bootstrap";

.navbar.navbar-top {
  background-color: #69fbb8;

  .navbar-brand a {
    color: $body-bg;
    font-style: italic;
    font-weight: bold;

    &:hover,
    &:active:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.btn-secondary {
  background-color: $body-bg;
  border-color: $body-bg;
  color: #fff;

  &:hover,
  &:active:hover,
  &:active,
  &:focus {
    background-color: $jumbotron-bg;
    border-color: $jumbotron-bg;
    color: #fff;
  }
}

.btn-white-outline {
  border-color: #fff;
  color: #fff;

  &:hover,
  &:active:hover,
  &:active,
  &:focus {
    color: #fff;
  }
}

.jumbotron {
  color: $jumbotron-color;
  padding: 6rem 1rem 11rem 1rem;
  text-align: center;

  h1 {
    font-weight: bold;
  }
}

.cards-container {
  margin-top: -9rem;
}

.card {
  color: $gray;
  margin-bottom: $spacer-y * 2;

  .card-title a {
    color: $gray-dark;
    font-weight: bold;
  }
  .event-details {
    font-size: $font-size-sm;
    color: $gray-light;

    .icon-pin {
      font-size: 120%;
    }
    .icon-clock {
      font-size: 120%;
    }
  }
}

.event-trend {
  display: inline-block;
  position: relative;
  line-height: 40px;
  color: $gray-light;

  &:after {
    font-family: 'icomoon' !important;
    position: absolute;
    top: -3px; left: -3px;
    width: 12px; height: 13px;
    font-size: 10px;
    color: #fff;
    line-height: 14px;
    text-align: center;
    border-radius: 3px;
  }

  .icon-smiley {
    margin-right: 0.5rem;
    font-size: 24px;
  }

  &.event-trend-up {
    &:after {
      content: '\e901';
      background-color: #00d0ff;
    }
  }
  &.event-trend-down {
    &:after {
      content: '\e900';
      background-color: #ff9d42;
    }
  }
}

.btn-rsvp-toggle {
  width: 120px;
}
