<div class="card">
  <div class="card-block">
    <h4 class="card-title"><a [routerLink]="['/events/' + event.slug]">{{event.title}}</a></h4>
    <div class="event-details">
      <span><i class="icon-clock"></i> {{event.startTime | date: 'EEE, LLLL dd @ hh:mm a' | uppercase}}</span>
      <span class="m-l-2"><i class="icon-pin"></i> {{event.location}}</span>
    </div>
  </div>
  <div class="card-block">
    <p class="card-text">{{event.description}}</p>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col col-xs-6">
        <app-event-rsvp-toggle-btn></app-event-rsvp-toggle-btn>
      </div>
      <div class="col col-xs-6 text-xs-right">
        <app-event-attending-trend-counter
          [trend]="event.attending.trend"
          [attendersCount]="event.attending.total">
        </app-event-attending-trend-counter>
      </div>
    </div>
  </div>
</div>
