<nav class="navbar navbar-full navbar-top">
  <div class="row">
    <div class="col col-xs-4">
      <div class="navbar-brand">
        <a href="#">KMEETUP</a>
      </div>
    </div>
    <div class="col col-xs-8 text-xs-right">
      <a href="#" class="btn btn-secondary">Create Meetup</a>
      <span class="m-l-3">Dvir</span>
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid" style="background-image: url('app/images/ramat_gan.png')">
  <div class="container">
    <h1 class="display-4">Next meetup in ur 'hood</h1>
  </div>
</div>
<div class="container cards-container">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><a href="#">Meet AngularJS Part 2</a></h4>
          <div class="event-details">
            <span><i class="icon-clock"></i> MON, JUNE 20 @ 6:30 PM</span>
            <span class="m-l-2"><i class="icon-pin"></i> Conf Tel Aviv</span>
          </div>
        </div>
        <div class="card-block">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col col-xs-6">
              <button disabled="true" class="btn btn-default">Login to RSVP</button>
            </div>
            <div class="col col-xs-6 text-xs-right">
              <span class="event-trend event-trend-down"><i class="icon-smiley icon-smiley_grumpy"></i>12 going</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><a href="#">NodeJS - advanced session about performance in big applications</a></h4>
          <div class="event-details">
            <span><i class="icon-clock"></i> MON, JUNE 20 @ 6:30 PM</span>
            <span class="m-l-2"><i class="icon-pin"></i> Conf Tel Aviv</span>
          </div>
        </div>
        <div class="card-block">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col col-xs-6">
              <button class="btn btn-primary btn-rsvp-toggle">RSVP</button>
            </div>
            <div class="col col-xs-6 text-xs-right">
              <span class="event-trend event-trend-down"><i class="icon-smiley icon-smiley_grumpy"></i>12 going</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><a href="#">Meet AngularJS Part 2 - @ngrx intro & Angular CLI</a></h4>
          <div class="event-details">
            <span><i class="icon-clock"></i> MON, JUNE 20 @ 6:30 PM</span>
            <span class="m-l-2"><i class="icon-pin"></i> Conf Tel Aviv</span>
          </div>
        </div>
        <div class="card-block">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col col-xs-6">
              <button class="btn btn-primary btn-rsvp-toggle">RSVP</button>
            </div>
            <div class="col col-xs-6 text-xs-right">
              <span class="event-trend event-trend-up"><i class="icon-smiley icon-smiley_smile"></i>12 going</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><a href="#">Meet AngularJS Part 2</a></h4>
          <div class="event-details">
            <span><i class="icon-clock"></i> MON, JUNE 20 @ 6:30 PM</span>
            <span class="m-l-2"><i class="icon-pin"></i> Conf Tel Aviv</span>
          </div>
        </div>
        <div class="card-block">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col col-xs-6">
              <button class="btn btn-primary btn-rsvp-toggle btn-primary-outline">
                <span class="icon-check"></span>
                Going
              </button>
            </div>
            <div class="col col-xs-6 text-xs-right">
              <span class="event-trend event-trend-down"><i class="icon-smiley icon-smiley_grumpy"></i>12 going</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-xs-center m-t-2 m-b-3">
    <a href="#" class="btn btn-white-outline">More meetups</a>
  </div>
</div>
